<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body>

<div class="container">
  <div class="terminal">
    {{ partial "header.html" . }}

    <div class="content">
    {{ block "main" . }}
    {{ end }}
    </div>

  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>


</body>
<pre style="display:none">
   /\_/\
  ( o.o )
</pre>
</html>
